<div class="wo_settings_page wow_content">
	<div class="avatar-holder">
		<img src="<?php echo $wo['setting']['avatar']?>" alt="<?php echo $wo['setting']['name']?> Profile Picture" class="avatar">
		<div class="infoz">
			<h5 title="<?php echo $wo['setting']['name']?>"><a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['setting']['username'] . '');?>" data-ajax="?link1=timeline&u=<?php echo $wo['setting']['username'] ?>"><?php echo $wo['setting']['name']?></a></h5>
			<h5 class="mt-0"><a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=payments');?>" data-ajax="?link1=setting&page=payments"><?php echo Wo_GetCurrency($wo['config']['ads_currency']) . $wo['setting']['balance'];?></a></h5>
			<p><?php echo $wo['lang']['my_affiliates']; ?></p>
		</div>
	</div>
	<hr>
<?php //echo "<pre>";print_r($wo);die; ?>
	<div class="setting-panel">
		<div class="wow_affs_main">
			<img src="<?php echo $wo['config']['theme_url'];?>/img/affs.svg" alt="<?php echo $wo['lang']['my_affiliates']?>">
			<h4>
			<?php 
				/*if( $wo['config']['amount_percent_ref'] > 0 )
				{
					$earn_users = str_replace('{amount}', $wo['config']['amount_percent_ref'], $wo['lang']['earn_users']);
					$earn_users = str_replace('$', '%', $earn_users);
					$earn_users_pro = str_replace('{amount}', $wo['config']['amount_percent_ref'], $wo['lang']['earn_users_pro']);
					$earn_users_pro = str_replace('$', '%', $earn_users_pro);
				}
				else if( $wo['config']['amount_ref'] > 0 )
				{
					$earn_users = str_replace('{amount}', $wo['config']['amount_ref'], $wo['lang']['earn_users']);
					//$earn_users = str_replace('$', Wo_GetCurrency($wo['config']['ads_currency']), $earn_users);
					$earn_users_pro = str_replace('{amount}', $wo['config']['amount_ref'], $wo['lang']['earn_users_pro']);
					//$earn_users_pro = str_replace('$', Wo_GetCurrency($wo['config']['ads_currency']), $earn_users_pro);
				}*/

				if($wo['setting']['is_pro'] =='1')
				{
					if($wo['setting']['pro_type']=='1')
					{
						$earn_users = 'Earn '.$wo['pro_packages']['star']['affiliate_point'].' points for each user your refer to us.';
					}
					elseif($wo['setting']['pro_type']=='2')
					{
						$earn_users = 'Earn '.$wo['pro_packages']['hot']['affiliate_point'].' points for each user your refer to us.';
					}
					else
					{
						$earn_users = 'You need to upgrade your package to earn affilate points';
					}
				}
				else
					{
						$earn_users = 'You need to upgrade your package to earn affilate points';
					}

			?>
			<?php //if($wo['config']['affiliate_type'] == 0) { ?>
				<?php //echo $earn_users; ?>
			<?php //} else { ?>
				<?php //echo $earn_users_pro; ?>
			<?php //} ?>
</h4>


			<div class="earn_points">
		<div class="ep_illus">
			
					<div class="ep_how_many create_post">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20Z" /></svg>
				<b>You Will Earn <?=$wo['config']['amount_ref']; ?> Shopping Points on Every Free Signup.</b>
			</div>
			
			<div class="ep_how_many wonder_post">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" /></svg>
					<b>Earn INR 10 on every Ziggly Pro upgrade(<?=$wo['pro_packages']['hot']['price'];?> INR) and 3 INR on every Star upgarde(<?=$wo['pro_packages']['star']['price'];?> INR) from you referral.</b>
				</div>
			
			<div class="ep_how_many like_post">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z" /></svg>
					<b>Earn <?=$wo['config']['likes_point'];?> Points on Post of 1000 Likes and <?=$wo['config']['comments_point'];?> Points on Post of 500 Comments.</b>
				</div>
		</div></div>
			
			<hr>
			<div class="row">
				<?php $link = $wo['config']['site_url'] . '/register?ref=' . $wo['setting']['username'];?>
				<div class="col-lg-4">
					<div class="wow_form_fields">
						<label for="link"><?php echo $wo['lang']['your_ref_link'];?></label>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="wow_form_fields">
						<input id="link" type="text" value="<?php echo $link;?>" autocomplete="off" onclick="this.select();" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="wow_form_fields">
						<label for="share_to"><?php echo $wo['lang']['share_to'];?></label>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="wow_form_fields">
						<div class="social-btn"><a class="social-btn-parent" href="https://twitter.com/intent/tweet?text=<?php echo $link;?>" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-twitter" fill="#55acee"><path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" /></svg></a></div>
						<div class="social-btn"><a class="social-btn-parent" rel="publisher" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $link;?>" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-facebook" fill="#337ab7"><path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" /></svg></a></div>
						<div class="social-btn"><a class="social-btn-parent" href="https://api.whatsapp.com/send?text=<?php echo $link;?>" data-action="share/whatsapp/share" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-facebook" fill="#04aa24"><path d="M16.75,13.96C17,14.09 17.16,14.16 17.21,14.26C17.27,14.37 17.25,14.87 17,15.44C16.8,16 15.76,16.54 15.3,16.56C14.84,16.58 14.83,16.92 12.34,15.83C9.85,14.74 8.35,12.08 8.23,11.91C8.11,11.74 7.27,10.53 7.31,9.3C7.36,8.08 8,7.5 8.26,7.26C8.5,7 8.77,6.97 8.94,7H9.41C9.56,7 9.77,6.94 9.96,7.45L10.65,9.32C10.71,9.45 10.75,9.6 10.66,9.76L10.39,10.17L10,10.59C9.88,10.71 9.74,10.84 9.88,11.09C10,11.35 10.5,12.18 11.2,12.87C12.11,13.75 12.91,14.04 13.15,14.17C13.39,14.31 13.54,14.29 13.69,14.13L14.5,13.19C14.69,12.94 14.85,13 15.08,13.08L16.75,13.96M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C10.03,22 8.2,21.43 6.65,20.45L2,22L3.55,17.35C2.57,15.8 2,13.97 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.72 4.54,15.31 5.46,16.61L4.5,19.5L7.39,18.54C8.69,19.46 10.28,20 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" /></svg></a></div>
						<div class="social-btn"><a class="social-btn-parent" href="https://pinterest.com/pin/create/button/?url=<?php echo $link;?>" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-facebook" fill="#cb2027"><path d="M13,16.2C12.2,16.2 11.43,15.86 10.88,15.28L9.93,18.5L9.86,18.69L9.83,18.67C9.64,19 9.29,19.2 8.9,19.2C8.29,19.2 7.8,18.71 7.8,18.1C7.8,18.05 7.81,18 7.81,17.95H7.8L7.85,17.77L9.7,12.21C9.7,12.21 9.5,11.59 9.5,10.73C9.5,9 10.42,8.5 11.16,8.5C11.91,8.5 12.58,8.76 12.58,9.81C12.58,11.15 11.69,11.84 11.69,12.81C11.69,13.55 12.29,14.16 13.03,14.16C15.37,14.16 16.2,12.4 16.2,10.75C16.2,8.57 14.32,6.8 12,6.8C9.68,6.8 7.8,8.57 7.8,10.75C7.8,11.42 8,12.09 8.34,12.68C8.43,12.84 8.5,13 8.5,13.2A1,1 0 0,1 7.5,14.2C7.13,14.2 6.79,14 6.62,13.7C6.08,12.81 5.8,11.79 5.8,10.75C5.8,7.47 8.58,4.8 12,4.8C15.42,4.8 18.2,7.47 18.2,10.75C18.2,13.37 16.57,16.2 13,16.2M20,2H4C2.89,2 2,2.89 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" /></svg></a></div>
						<div class="social-btn"><a class="social-btn-parent" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<?php echo $link;?>" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-facebook" fill="#007bb6"><path d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z" /></svg></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="referres wo_referres"><?php
      	 	$refs = Wo_GetReferrers();
      	 	if (count($refs) > 0) {
      	 	 	foreach ($refs as $key => $wo['ref']) {
      	 	 		echo Wo_LoadPage('setting/refs');
      	 	 	}
      	 	} 
      	 	?></div>
	</div>
</div>
<style>
.social-btn {width: 100%;display: inline;}
.social-btn-parent {text-decoration: none;}
.social-btn svg.feather {margin-top: 0px;width: 24px;height: 24px;}
</style>