<?php 
//$wo['trans'] = Wo_GetMytransactions();
?>
<div class="wo_settings_page wow_content">
	<div class="avatar-holder">
		<img src="<?php echo $wo['setting']['avatar']?>" alt="<?php echo $wo['setting']['name']?> Profile Picture" class="avatar">
		<div class="infoz">
			<h5 title="<?php echo $wo['setting']['name']?>"><a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['setting']['username'] . '');?>" data-ajax="?link1=timeline&u=<?php echo $wo['setting']['username'] ?>"><?php echo $wo['setting']['name']?></a></h5>
			<p><?php echo $wo['lang']['my_points']; ?></p>
		</div>
	</div>
	<hr>

	<div class="earn_points">
		<div class="ep_illus">
		
					<div class="ep_how_many create_post">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20Z" /></svg>
				<b>You Will Earn <?=$wo['config']['amount_ref']; ?> Shopping Points on Every Free Signup.</b>
			</div>
			
			<div class="ep_how_many wonder_post">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" /></svg>
					<b>Earn INR 10 on every Ziggly Pro upgrade(<?=$wo['pro_packages']['hot']['price'];?> INR) and 3 INR on every Star upgarde(<?=$wo['pro_packages']['hot']['price'];?> INR) from you referral.</b>
				</div>
			
			<div class="ep_how_many like_post">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z" /></svg>
					<b>Earn <?=$wo['config']['likes_point'];?> Points on Post of 1000 Likes and <?=$wo['config']['comments_point'];?> Points on Post of 500 Comments.</b>
				</div>
			<?php /*if ($wo['config']['second_post_button'] == "reaction") {?>
				<div class="ep_how_many reaction_bg">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,17.5C14.33,17.5 16.3,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5M8.5,11A1.5,1.5 0 0,0 10,9.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 7,9.5A1.5,1.5 0 0,0 8.5,11M15.5,11A1.5,1.5 0 0,0 17,9.5A1.5,1.5 0 0,0 15.5,8A1.5,1.5 0 0,0 14,9.5A1.5,1.5 0 0,0 15.5,11M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
					<b><?php echo str_replace('%d', $wo['config']['reaction_point'], $wo['lang']['earn_text_reaction']);?></b>
				</div>
			<?php } ?>
			<?php if ($wo['config']['blogs'] == 1 && $wo['config']['can_blogs'] == 1) { ?>
				<div class="ep_how_many create_blog">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20Z" /></svg>
					<b><?php echo str_replace('%d', $wo['config']['createblog_point'], $wo['lang']['earn_text_create_blog']);?></b>
				</div>
			<?php }*/ ?>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="counter">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-14.243L7.757 12 12 16.243 16.243 12 12 7.757z"/></svg>
					<p class="point-text"><?php echo $wo['lang']['points']; ?></p>
					<h2 class="timer count-title count-number" data-to="<?php echo $wo['setting']['points'];?>" data-speed="1500"><?php echo $wo['setting']['points'];?></h2>
					<?php if ($wo['config']['point_allow_withdrawal'] == 1) {?>
						<p class="count-text"><?php echo $wo['config']['dollar_to_point_cost'] . " " . $wo['lang']['points'] . " = ". Wo_GetCurrency($wo['config']['ads_currency']). "1.00"; ?></p>
					<?php } ?>
				</div>
			</div>
			<div class="col-md-6">
				<div class="points_tip">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
					<?php if ($wo['config']['point_allow_withdrawal'] == 1) { ?>
					<p><?php echo $wo['lang']['earned_points_goto'];?> <a href="<?php echo Wo_SeoLink('index.php?link1=setting&' . $wo['user_setting'] . 'page=payments');?>" data-ajax="?link1=setting&<?php echo $wo['user_setting'];?>page=payments"><?php echo $wo['lang']['my_earnings'];?></a></p>
					<?php } else { ?>
						<p><?php echo $wo['lang']['earned_points_goto'];?> <a href="<?php echo Wo_SeoLink('index.php?link1=wallet'); ?>"><?php echo $wo['lang']['wallet'];?></a></p>
					<?php } ?>
				</div>
			</div>
		</div>
    </div>
</div>